<div class="hello" >
    <body>
        <div>
           <h1>Hello! <span class="wave">👋🏼</span></h1> 
           

            <!-- <h1>Inline hands <span class="wave">👋🏾</span> work also!</h1> -->
        </div>
        
    <p>DIY ideas and shop is the best place where you can share your ideas with everyone or to be inspired by someone else's!</p>
    <P>You can add, edit and delete your ideas.</P>
    <p>It's easy to sell and buy products and also check your income balance at any time!</p><br>
  
    <p>You already have account? Please, login!</p><button a routerLink="/users/login">Login</button>
    <p>Are you here for the first time? Please, register!</p><button a routerLink="/users/register">Register</button>


    </body>

    

</div> 
