.mainbox {
    margin: auto;
    height: 550px;
    width: 550px;
    position: relative;
  }
  
  .err {
    color: #c56be0;
    font-family: 'Poppins', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
  }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #95c2de;
  }
  
  .err2 {
    color: #6eaad0;
    font-family: 'Poppins', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
  }
  
  .msg {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration:solid;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }
  
  a {
    text-decoration: none;
    color: #9661eb;
  }
  
  a:hover {
    text-decoration: underline;
  }

  div.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 23px 406px;
}