#customers {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  
    
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #c1b0e8;}
  
  #customers tr:hover {background-color: #e2b7fd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#7e6ca8 
    
  }
  #customers #sold, #bought{
    text-align: center;
    
  }
  #customers #sold{
    background-color: #9671e0;
    
  }
  #customers #bought{
    background-color: #9671e0;
    
  }

  #customers #total{
    text-align: center;
    background-color: #1fdaeb;
    border: 3px solid #000000;
    padding: 8px;
    font-size: larger;
    
  }
  