<div *ngIf="!isLogged">
  <app-welocome-no-user></app-welocome-no-user>
</div>


<div *ngIf="isLogged">
  <hr>
  <div class="title">
    
      <h1>Welcome back, {{ user?.firstName }} {{ user?.lastName }}!!! <span class="wave">👋🏼</span></h1>
    
  </div>
  <hr>


  <div *ngIf="user?.ideas.length == 0">
    <div class="title">
        <h1>You don't have any products yet...😔</h1>
      </div>
  </div>

  <div *ngIf="user?.ideas.length > 0">
  <div class="title">
    <h1>My DIY products:</h1>
  </div>

  <body>
    <div class="card-container"></div>
    <div *ngFor="let idea of user?.ideas">
      <div class="container">
        <div class="image">
          <img src="{{ idea.img }}" alt="{{ idea.name }}" />
        </div>
        <p></p>
        <h2>{{ idea.name | uppercase }}</h2>
        <p>
          Created by:
          <a routerLink="/users/{{ user._id }}/profile"> {{ user.username }}</a>
        </p>

        <p>
          <a routerLink="/ideas/{{ idea._id }}/details">Details</a>
        </p>
      </div>
    </div>
  </body>
</div>
</div>
