/* header  */

header {
    background: rgb(127, 181, 204);
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    display: flex;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}



header li {
    list-style: none;
    margin: .35em;
    padding: 2em;
    
}

header a {
    text-decoration:solid;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

/* nav {
    border-top: 0px solid #00acf4;
} */

.logo {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 0px;
    /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */
}

.logo-wrap {
    font-family: 'Poppins', sans-serif;
    /* letter-spacing: 6em; */
    margin: auto;
    padding: 0px;
    /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */

}
.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: auto;
    /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */
}

nav {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

ul {
    padding: 0;
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
p{
    font-family:fantasy;
}
img{
    object-fit: cover;
    width: 25vw;
    height: 10vh;
}