<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">DIY IDEAS & SHOP</span></p>
      </div>
      
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/ideas">DIY ideas</a>
        </li>
        <li>
          <a routerLink="/create">Create DIY idea</a>
        </li>
        <li>
            <a routerLink="/users/login">Login</a>
          </li>
          <a routerLink="/users/register">Register</a>
          <li>
        <a routerLink="/users/profile">XXX's profile</a>
      </li>
      <li>
        <a routerLink="/users/balance">Balance</a>
      </li>
      <li >
        <a >Logout</a>
      </li>
      </ul>
      

    </nav>
  </header>
  