<body>
  <div class="container">
    <div *ngIf="idea">
      <div class="tittle">
        <h2>{{ idea.name | uppercase }}</h2>
        <button routerLink="/ideas/{{idea._id}}/update" *ngIf="isLogged && isOwner">Edit</button> <button (click)="deleteIdea()" *ngIf="isLogged && isOwner">Delete</button>
      </div>
      <div class="image">
        <img src="{{ idea.img }}" alt="" />
      </div>
<div class="likes" >Likes: {{idea.likes.length}}
<ng-container *ngIf="isLogged && !isOwner">
        <div class="like" *ngIf="!isLiked" (click)="likeHandler()">
        <button>Like 💕</button> {{idea.likes.length}}
      </div>

      <div class="dislike" *ngIf="isLiked" (click)="dislikeHandler()">
        <button>Dislike 💔</button> {{idea.likes.length}}
      </div>
</ng-container>
</div>

      <div class="owner">
        Created by:
        <a routerLink="/users/{{ idea._ownerId._id }}/profile">
          {{ idea._ownerId.username }}</a
        >
      </div>
      <div class="info">
        <p>{{ idea.description }}</p>
      </div>
      <div class="price">
        <p>Price: {{idea.price | currency}}</p>        
      </div>
      <div class="pieces">
        <p>Available pieces: {{idea.pieces}}</p>
      </div>
      <div class="buy" (click)="buyIdea()" *ngIf="isLogged && !isOwner">
        <button>Buy! 💲</button>
      </div>
      

      <div class="comm">
        <form [formGroup]="form" (ngSubmit)="commentIdea()" *ngIf="isLogged && !isOwner">
          <p>Write comment:</p>
            <input type="text" name="comment" formControlName="comment" id="">
            <button [disabled]="form.invalid">💭</button>
            <ng-container *ngIf="form.get('comment')?.touched">
              <p class="error" *ngIf="form.get('comment')?.errors?.['required']" >
                Comment is required!
              </p>
              <p class="error" *ngIf="form.get('comment')?.errors?.['minlength']" >
                Comment must be at least
                  {{form.get('comment')?.errors?.['minlength']?.['requiredLength']}}
                  characters long!
              </p>

            </ng-container>
        </form>
      </div>

      <div class="comms" *ngIf="idea.comments.length != 0 then comments else noComments"></div>
      <ng-template #comments > Comments:
        <div *ngFor="let comm of idea.comments">  
          <div >  
            <!-- <p>{{comm.split(' | ').slice(0,1).toString()}}</p>
            <p>{{comm.split(' | ').slice(1,2).toString()}}</p>
            <p>{{comm.split(' | ').slice(2,3).toString()}}</p> -->
            <a routerLink="/users/{{ comm.split(' | ').slice(0,1).toString() }}/profile">
              {{ comm.split(' | ').slice(1,2).toString() }}</a>
              says: {{comm.split(' | ').slice(2,3).toString()}}
              <!-- <p>{{comm.split(' | ').slice(2,3).toString()}}</p> -->
          </div>
            
        </div>
      </ng-template>
      <ng-template #noComments>
        <p>{{idea.name | uppercase}} still don't have any comments... </p>
      </ng-template>



    </div>
  </div>
</body>
