<body>
  <div class="container">
    <div *ngIf="idea">
      <div class="tittle">
        <h2>{{ idea.name | uppercase }}</h2>
        <button routerLink="/ideas/{{idea._id}}/update">Edit</button> <button (click)="deleteIdea()">Delete</button>
      </div>
      <div class="image">
        <img src="{{ idea.img }}" alt="" />
      </div>
<div class="likes" >Likes: {{idea.likes.length}}
<ng-container *ngIf="!isOwner">
        <div class="like" *ngIf="!isLiked" (click)="likeHandler()">
        <button>Like 💕</button> {{idea.likes.length}}
      </div>

      <div class="dislike" *ngIf="isLiked" (click)="dislikeHandler()">
        <button>Dislike 💔</button> {{idea.likes.length}}
      </div>
</ng-container>
</div>

      <div class="owner">
        Created by:
        <a routerLink="/users/{{ idea._ownerId._id }}/profile">
          {{ idea._ownerId.username }}</a
        >
      </div>
      <div class="info">
        <p>{{ idea.description }}</p>
      </div>
      <div class="price">
        <p>Price: {{idea.price | currency}}</p>        
      </div>
      <div class="pieces">
        <p>Available pieces: {{idea.pieces}}</p>
      </div>
      <div class="buy" (click)="buyIdea()">
        <button>Buy! 💲</button>
      </div>
      

      <div class="comm">
        <form >
            <input type="text" name="comment" id="">
            <button>POST</button>
        </form>
      </div>

      <div class="comms" *ngIf="idea.comments.length != 0 then comments else noComments"></div>
      <ng-template #comments>
        <div>
            <p>{{idea.comments.userId}} says: {{idea.comments.comment}}</p>
        </div>
      </ng-template>
      <ng-template #noComments>
        <p>{{idea.name | uppercase}} still don't have any comments... </p>
      </ng-template>



    </div>
  </div>
</body>
