
<body>
    <div>
        <h1>DIY ideas list</h1>
    </div>
    <div class="card-container"></div>
    <div *ngFor="let idea of ideaList">
        <div class="container">
            <div class="image">
                <img src="{{idea.img}}" alt="{{idea.name}}">
            </div>
            <p>
                <h2>{{idea.name | uppercase}}</h2>
            <p>Created by:
                <a routerLink="{{idea._ownerId._id}}"> {{idea._ownerId.username}}</a>
            </p>
    
            <p>
                <a routerLink="/ideas/{{idea._id}}/details">Details</a>
            </p>
        </div>
    </div>
</body>
